<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="nombreConcurso" value="2do. Concurso de Programacion" />
    <add key="banners" value="banners.xml" />
    <add key="cPreguntas" value="10" />
    <add key="tPreguntas" value="Predeterminado" />
    <add key="preguntas" value="C:\Users\Maharba\My Dropbox\Concurso De Programacion\Prototipo Nuevo\Version 1.0 BETA\MenuPrincipal\MenuPrincipal\bin\Debug\quiz.xml" />
    <add key="equipos" value="C:\Users\Maharba\My Dropbox\Concurso De Programacion\Prototipo Nuevo\Version 1.0 BETA\MenuPrincipal\MenuPrincipal\bin\Debug\integrantes.xml" />
  </appSettings>
</configuration>